.icon-contact__envelop {
  fill: #fff;
}

.icon-contact__cover-left {
  stroke: #4ddbff;
  -webkit-transform-origin: 108px;
          transform-origin: 108px;
  -webkit-transform: skewY(35deg);
          transform: skewY(35deg);
}

.icon-contact__cover-right {
  stroke: #4ddbff;
  -webkit-transform-origin: 348px;
          transform-origin: 348px;
  -webkit-transform: skewY(-35deg);
          transform: skewY(-35deg);
}

.icon-contact__letter {
  visibility: hidden;
}

.icon-contact__sign {
  stroke: #4ddbff;
  stroke-dasharray: 120 100;
  visibility: visible;
}

.icon-contact__border, .icon-contact__envelop {
  stroke: #4ddbff;
}

.icon-contact:hover {
  cursor: pointer;
}

.icon-contact:hover .icon-contact__cover-left {
  -webkit-animation: cover-left 1.2s linear forwards, color-stroke 0.24s ease-in 1.2s forwards;
          animation: cover-left 1.2s linear forwards, color-stroke 0.24s ease-in 1.2s forwards;
}

.icon-contact:hover .icon-contact__cover-right {
  -webkit-animation: cover-right 1.2s linear forwards, color-stroke 0.24s ease-in 1.2s forwards;
          animation: cover-right 1.2s linear forwards, color-stroke 0.24s ease-in 1.2s forwards;
}

.icon-contact:hover .icon-contact__letter {
  -webkit-animation: letter 1s ease-in forwards;
          animation: letter 1s ease-in forwards;
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.icon-contact:hover .icon-contact__sign {
  visibility: hidden;
  stroke-dasharray: 0 100;
  -webkit-animation: sign 0.6s ease-in 1.2s forwards, color-stroke 0.24s ease-in 1.2s forwards;
          animation: sign 0.6s ease-in 1.2s forwards, color-stroke 0.24s ease-in 1.2s forwards;
}

.icon-contact:hover .icon-contact__sign--delay {
  -webkit-animation: sign 0.6s ease-in 1.56s forwards, color-stroke 0.24s ease-in 1.2s forwards;
          animation: sign 0.6s ease-in 1.56s forwards, color-stroke 0.24s ease-in 1.2s forwards;
}

.icon-contact:hover .icon-contact__envelop {
  -webkit-animation: color-stroke 0.24s ease-in 1.2s forwards;
          animation: color-stroke 0.24s ease-in 1.2s forwards;
}

.icon-contact:hover .icon-contact__border {
  -webkit-animation: color-stroke 0.24s ease-in 1.2s forwards;
          animation: color-stroke 0.24s ease-in 1.2s forwards;
}

@-webkit-keyframes cover-left {
  from,
  to {
    -webkit-transform: skewY(35deg);
            transform: skewY(35deg);
  }
  25%,
  75% {
    -webkit-transform: skewY(0deg);
            transform: skewY(0deg);
  }
  40%,
  50%,
  60% {
    -webkit-transform: skewY(-35deg);
            transform: skewY(-35deg);
  }
}

@keyframes cover-left {
  from,
  to {
    -webkit-transform: skewY(35deg);
            transform: skewY(35deg);
  }
  25%,
  75% {
    -webkit-transform: skewY(0deg);
            transform: skewY(0deg);
  }
  40%,
  50%,
  60% {
    -webkit-transform: skewY(-35deg);
            transform: skewY(-35deg);
  }
}

@-webkit-keyframes cover-right {
  from,
  to {
    -webkit-transform: skewY(-35deg);
            transform: skewY(-35deg);
  }
  25%,
  75% {
    -webkit-transform: skewY(0deg);
            transform: skewY(0deg);
  }
  40%,
  50%,
  60% {
    -webkit-transform: skewY(35deg);
            transform: skewY(35deg);
  }
}

@keyframes cover-right {
  from,
  to {
    -webkit-transform: skewY(-35deg);
            transform: skewY(-35deg);
  }
  25%,
  75% {
    -webkit-transform: skewY(0deg);
            transform: skewY(0deg);
  }
  40%,
  50%,
  60% {
    -webkit-transform: skewY(35deg);
            transform: skewY(35deg);
  }
}

@-webkit-keyframes letter {
  0% {
    visibility: visible;
    opacity: 0;
  }
  20% {
    visibility: visible;
    opacity: 1;
  }
  60% {
    -webkit-transform: translateY(140px);
            transform: translateY(140px);
    opacity: 0.5;
  }
  90% {
    -webkit-transform: translateY(140px);
            transform: translateY(140px);
  }
  95% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    -webkit-transform: translateY(140px);
            transform: translateY(140px);
  }
}

@keyframes letter {
  0% {
    visibility: visible;
    opacity: 0;
  }
  20% {
    visibility: visible;
    opacity: 1;
  }
  60% {
    -webkit-transform: translateY(140px);
            transform: translateY(140px);
    opacity: 0.5;
  }
  90% {
    -webkit-transform: translateY(140px);
            transform: translateY(140px);
  }
  95% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    -webkit-transform: translateY(140px);
            transform: translateY(140px);
  }
}

@-webkit-keyframes letter-opacity {
  from,
  to {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@keyframes letter-opacity {
  from,
  to {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@-webkit-keyframes sign {
  20% {
    visibility: visible;
  }
  to {
    stroke-dasharray: 120 100;
    visibility: visible;
  }
}

@keyframes sign {
  20% {
    visibility: visible;
  }
  to {
    stroke-dasharray: 120 100;
    visibility: visible;
  }
}

@-webkit-keyframes color-stroke {
  0% {
    stroke: #4ddbff;
  }
  100% {
    stroke: #ffc000;
  }
}

@keyframes color-stroke {
  0% {
    stroke: #4ddbff;
  }
  100% {
    stroke: #ffc000;
  }
}

.icon-home__sun-fill {
  fill: #4ddbff;
}

.icon-home__sun-blink {
  fill: #fff;
}

.icon-home__ray {
  stroke: #4ddbff;
}

.icon-home__ray--even {
  stroke-dasharray: 41 101;
}

.icon-home__ray--odd {
  stroke-dasharray: 101 101;
}

.icon-home__cloud-outher {
  fill: #fff;
  stroke: #fff;
}

.icon-home__cloud-fill {
  fill: #4ddbff;
}

.icon-home__border {
  stroke: #4ddbff;
  fill: #fff;
}

.icon-home:hover {
  cursor: pointer;
}

.icon-home:hover .icon-home__cloud {
  -webkit-animation: cloud-in 0.8s ease-in-out 0s forwards, cloud-out 1s cubic-bezier(0.41, 0, 0.33, 0.99) 1.58414s forwards;
          animation: cloud-in 0.8s ease-in-out 0s forwards, cloud-out 1s cubic-bezier(0.41, 0, 0.33, 0.99) 1.58414s forwards;
}

.icon-home:hover .icon-home__sun {
  -webkit-animation: sun-out 0.5s ease-in-out 0.3s forwards, sun-in 0.42857s cubic-bezier(0.41, 0, 0.33, 0.99) 0.64s forwards, sun-back-to 1s cubic-bezier(0.41, 0, 0.33, 0.99) 1.58414s forwards;
          animation: sun-out 0.5s ease-in-out 0.3s forwards, sun-in 0.42857s cubic-bezier(0.41, 0, 0.33, 0.99) 0.64s forwards, sun-back-to 1s cubic-bezier(0.41, 0, 0.33, 0.99) 1.58414s forwards;
}

.icon-home:hover .icon-home__ray--even {
  stroke-dasharray: 41 101;
  -webkit-animation: rays-out 0.3s ease-in-out forwards, rays-in-even 0.15s ease-in 1.06857s forwards, rays-length-even 1s ease-in-out 1.21857s infinite, color-stroke 0.3s ease-in 1.06857s forwards;
          animation: rays-out 0.3s ease-in-out forwards, rays-in-even 0.15s ease-in 1.06857s forwards, rays-length-even 1s ease-in-out 1.21857s infinite, color-stroke 0.3s ease-in 1.06857s forwards;
}

.icon-home:hover .icon-home__ray--odd {
  -webkit-animation: rays-out 0.3s ease-in-out forwards, rays-in-odd 0.15s ease-in 1.06857s forwards, rays-length-odd 1s ease-in-out 1.21857s infinite, color-stroke 0.3s ease-in 1.06857s forwards;
          animation: rays-out 0.3s ease-in-out forwards, rays-in-odd 0.15s ease-in 1.06857s forwards, rays-length-odd 1s ease-in-out 1.21857s infinite, color-stroke 0.3s ease-in 1.06857s forwards;
}

.icon-home:hover .icon-home__border {
  -webkit-animation: color-stroke 0.3s ease-in 1.06857s forwards;
          animation: color-stroke 0.3s ease-in 1.06857s forwards;
}

.icon-home:hover .icon-home__cloud-fill,
.icon-home:hover .icon-home__sun-fill {
  -webkit-animation: color-fill 0.3s ease-in 1.06857s forwards;
          animation: color-fill 0.3s ease-in 1.06857s forwards;
}

@-webkit-keyframes rays-out {
  to {
    stroke-dasharray: 0 101;
    visibility: hidden;
  }
}

@keyframes rays-out {
  to {
    stroke-dasharray: 0 101;
    visibility: hidden;
  }
}

@-webkit-keyframes rays-in-odd {
  0% {
    stroke-dasharray: 0 101;
  }
  to {
    stroke-dasharray: 101 101;
    visibility: visible;
  }
}

@keyframes rays-in-odd {
  0% {
    stroke-dasharray: 0 101;
  }
  to {
    stroke-dasharray: 101 101;
    visibility: visible;
  }
}

@-webkit-keyframes rays-in-even {
  0% {
    stroke-dasharray: 0 101;
  }
  to {
    stroke-dasharray: 41 101;
    visibility: visible;
  }
}

@keyframes rays-in-even {
  0% {
    stroke-dasharray: 0 101;
  }
  to {
    stroke-dasharray: 41 101;
    visibility: visible;
  }
}

@-webkit-keyframes sun-out {
  to {
  }
}

@keyframes sun-out {
  to {
  }
}

@-webkit-keyframes cloud-in {
  to {
  }
}

@keyframes cloud-in {
  to {
  }
}

@-webkit-keyframes cloud-out {
  0% {
  }
  to {
  }
}

@keyframes cloud-out {
  0% {
  }
  to {
  }
}

@-webkit-keyframes sun-in {
  to {
  }
}

@keyframes sun-in {
  to {
  }
}

@-webkit-keyframes sun-back-to {
  0% {
  }
  to {
  }
}

@keyframes sun-back-to {
  0% {
  }
  to {
  }
}

@-webkit-keyframes rays-length-odd {
  0% {
    stroke-dasharray: 101 101;
  }
  50% {
    stroke-dasharray: 41 101;
  }
  100% {
    stroke-dasharray: 101 101;
  }
}

@keyframes rays-length-odd {
  0% {
    stroke-dasharray: 101 101;
  }
  50% {
    stroke-dasharray: 41 101;
  }
  100% {
    stroke-dasharray: 101 101;
  }
}

@-webkit-keyframes rays-length-even {
  0% {
    stroke-dasharray: 41 101;
  }
  50% {
    stroke-dasharray: 101 101;
  }
  100% {
    stroke-dasharray: 41 101;
  }
}

@keyframes rays-length-even {
  0% {
    stroke-dasharray: 41 101;
  }
  50% {
    stroke-dasharray: 101 101;
  }
  100% {
    stroke-dasharray: 41 101;
  }
}

@keyframes color-stroke {
  to {
    stroke: #ffc000;
  }
}

@-webkit-keyframes color-fill {
  to {
    fill: #ffc000;
  }
}

@keyframes color-fill {
  to {
    fill: #ffc000;
  }
}

.icon-plans__border {
  stroke: #4ddbff;
  fill: #fff;
}

.icon-plans__fill {
  fill: #4ddbff;
}

.icon-plans__stroke {
  stroke: #4ddbff;
}

.icon-plans__coin-shadow {
  opacity: 0;
}

.icon-plans__coin-top, .icon-plans__coin-shadow {
  -webkit-transform-origin: 561px 519px;
          transform-origin: 561px 519px;
}

.icon-plans:hover {
  cursor: pointer;
}

.icon-plans:hover .icon-plans__coin-shadow {
  -webkit-animation: coin-out 0.5s ease-out 0.16667s;
          animation: coin-out 0.5s ease-out 0.16667s;
}

.icon-plans:hover .icon-plans__coin-top {
  -webkit-animation: coin-bounce 0.83333s 0s;
          animation: coin-bounce 0.83333s 0s;
}

.icon-plans:hover .icon-plans__fill {
  -webkit-animation: color-fill 0.25s ease-in 0.5s forwards;
          animation: color-fill 0.25s ease-in 0.5s forwards;
}

.icon-plans:hover .icon-plans__border,
.icon-plans:hover .icon-plans__stroke {
  -webkit-animation: color-stroke 0.25s ease-in 0.5s forwards;
          animation: color-stroke 0.25s ease-in 0.5s forwards;
}

@-webkit-keyframes coin-bounce {
  20%,
  53%,
  80%,
  from,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  40%,
  43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
            animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translateY(-150px);
            transform: translateY(-150px);
  }
  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
            animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translateY(-75px);
            transform: translateY(-75px);
  }
  90% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
}

@keyframes coin-bounce {
  20%,
  53%,
  80%,
  from,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  40%,
  43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
            animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translateY(-150px);
            transform: translateY(-150px);
  }
  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
            animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translateY(-75px);
            transform: translateY(-75px);
  }
  90% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
}

@-webkit-keyframes coin-out {
  from {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  to {
    opacity: 0;
    -webkit-transform: translateX(-500px) rotate(-120deg);
            transform: translateX(-500px) rotate(-120deg);
  }
}

@keyframes coin-out {
  from {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  to {
    opacity: 0;
    -webkit-transform: translateX(-500px) rotate(-120deg);
            transform: translateX(-500px) rotate(-120deg);
  }
}

@keyframes color-stroke {
  to {
    stroke: #ffc000;
  }
}

@keyframes color-fill {
  to {
    fill: #ffc000;
  }
}

.icon-thumb__border {
  stroke: #4ddbff;
  fill: #fff;
}

.icon-thumb__thumb-down {
  opacity: 0;
  fill: #4ddbff;
}

.icon-thumb:hover {
  cursor: pointer;
}

.icon-thumb:hover .icon-thumb__hand {
  -webkit-animation: hand-move 1s 0s forwards;
          animation: hand-move 1s 0s forwards;
}

.icon-thumb:hover .icon-thumb__thumb-down {
  opacity: 1;
  -webkit-animation: thumb-down 1s ease-in-out 0s forwards, color-fill 0.25s ease-in 0.5s forwards;
          animation: thumb-down 1s ease-in-out 0s forwards, color-fill 0.25s ease-in 0.5s forwards;
}

.icon-thumb:hover .icon-thumb__thumb-up {
  -webkit-animation: thumb-up 1s ease-in-out 0s forwards, color-fill 0.25s ease-in 0.5s forwards;
          animation: thumb-up 1s ease-in-out 0s forwards, color-fill 0.25s ease-in 0.5s forwards;
}

.icon-thumb:hover .icon-thumb__fill {
  -webkit-animation: color-fill 0.25s ease-in 0.5s forwards;
          animation: color-fill 0.25s ease-in 0.5s forwards;
}

.icon-thumb:hover .icon-thumb__border {
  -webkit-animation: color-stroke 0.25s ease-in 0.5s forwards;
          animation: color-stroke 0.25s ease-in 0.5s forwards;
}

@-webkit-keyframes hand-move {
  from,
  to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  50% {
    -webkit-transform: translate3d(0, 70px, 0);
            transform: translate3d(0, 70px, 0);
  }
  75% {
    -webkit-transform: translate3d(0, -40px, 0);
            transform: translate3d(0, -40px, 0);
  }
}

@keyframes hand-move {
  from,
  to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  50% {
    -webkit-transform: translate3d(0, 70px, 0);
            transform: translate3d(0, 70px, 0);
  }
  75% {
    -webkit-transform: translate3d(0, -40px, 0);
            transform: translate3d(0, -40px, 0);
  }
}

@-webkit-keyframes thumb-up {
  from,
  60% {
    opacity: 0;
  }
  70%,
  to {
    opacity: 1;
  }
}

@keyframes thumb-up {
  from,
  60% {
    opacity: 0;
  }
  70%,
  to {
    opacity: 1;
  }
}

@-webkit-keyframes thumb-down {
  from,
  60% {
    opacity: 1;
  }
  70%,
  to {
    opacity: 0;
  }
}

@keyframes thumb-down {
  from,
  60% {
    opacity: 1;
  }
  70%,
  to {
    opacity: 0;
  }
}

@keyframes color-stroke {
  to {
    stroke: #ffc000;
  }
}

@keyframes color-fill {
  to {
    fill: #ffc000;
  }
}

.icon-leadership__border {
  stroke: #4ddbff;
  fill: #fff;
}

.icon-leadership__fill {
  fill: #4ddbff;
}

.icon-leadership__stroke {
  stroke: #4ddbff;
}

.icon-leadership__hand {
  -webkit-transform-origin: 500px 1000px;
          transform-origin: 500px 1000px;
  opacity: 0;
}

.icon-leadership:hover {
  cursor: pointer;
}

.icon-leadership:hover .icon-leadership__necktie {
  -webkit-animation: necktie-move 1.05s ease 0.525s forwards, color-stroke 0.3s ease-in 1s forwards;
          animation: necktie-move 1.05s ease 0.525s forwards, color-stroke 0.3s ease-in 1s forwards;
}

.icon-leadership:hover .icon-leadership__hand {
  -webkit-animation: hand-in-out 2.1s cubic-bezier(0.41, 0, 0.33, 0.99) 0s forwards;
          animation: hand-in-out 2.1s cubic-bezier(0.41, 0, 0.33, 0.99) 0s forwards;
}

.icon-leadership:hover .icon-leadership__hand--border {
  fill: #4ddbff;
  stroke: #4ddbff;
  -webkit-animation: color-stroke 0.3s ease-in 1s forwards, color-fill 0.3s ease-in 1s forwards;
          animation: color-stroke 0.3s ease-in 1s forwards, color-fill 0.3s ease-in 1s forwards;
}

.icon-leadership:hover .icon-leadership__hand--fill {
  fill: #fff;
}

.icon-leadership:hover .icon-leadership__hair,
.icon-leadership:hover .icon-leadership__smile {
  -webkit-animation: color-fill 0.3s ease-in 1s forwards;
          animation: color-fill 0.3s ease-in 1s forwards;
}

.icon-leadership:hover .icon-leadership__fill {
  -webkit-animation: color-fill 0.3s ease-in 1s forwards;
          animation: color-fill 0.3s ease-in 1s forwards;
}

.icon-leadership:hover .icon-leadership__border,
.icon-leadership:hover .icon-leadership__stroke {
  -webkit-animation: color-stroke 0.3s ease-in 1s forwards;
          animation: color-stroke 0.3s ease-in 1s forwards;
}

@-webkit-keyframes hand-in-out {
  from,
  to {
    -webkit-transform: scale(1.2) rotate(30deg) translate(100px, 400px);
            transform: scale(1.2) rotate(30deg) translate(100px, 400px);
    opacity: 0;
  }
  35%,
  75% {
    opacity: 1;
    -webkit-transform: scale(1.2) rotate(30deg) translate(100px, 100px);
            transform: scale(1.2) rotate(30deg) translate(100px, 100px);
  }
  50% {
    -webkit-transform: scale(1.25) rotate(30deg) translate(100px, 160px);
            transform: scale(1.25) rotate(30deg) translate(100px, 160px);
    opacity: 1;
  }
}

@keyframes hand-in-out {
  from,
  to {
    -webkit-transform: scale(1.2) rotate(30deg) translate(100px, 400px);
            transform: scale(1.2) rotate(30deg) translate(100px, 400px);
    opacity: 0;
  }
  35%,
  75% {
    opacity: 1;
    -webkit-transform: scale(1.2) rotate(30deg) translate(100px, 100px);
            transform: scale(1.2) rotate(30deg) translate(100px, 100px);
  }
  50% {
    -webkit-transform: scale(1.25) rotate(30deg) translate(100px, 160px);
            transform: scale(1.25) rotate(30deg) translate(100px, 160px);
    opacity: 1;
  }
}

@-webkit-keyframes necktie-move {
  from,
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  35%,
  75% {
    -webkit-transform: translateX(15px);
            transform: translateX(15px);
  }
  50% {
    -webkit-transform: translateX(-15px);
            transform: translateX(-15px);
  }
}

@keyframes necktie-move {
  from,
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  35%,
  75% {
    -webkit-transform: translateX(15px);
            transform: translateX(15px);
  }
  50% {
    -webkit-transform: translateX(-15px);
            transform: translateX(-15px);
  }
}

@keyframes color-stroke {
  to {
    stroke: #ffc000;
  }
}

@keyframes color-fill {
  to {
    fill: #ffc000;
  }
}
