.icon-clients__border {
  stroke: #4ddbff;
  fill: #fff;
}

.icon-clients__fill {
  fill: #4ddbff;
}

.icon-clients__stroke {
  stroke: #4ddbff;
}

.icon-clients__client {
  -webkit-transform-origin: 500px 1200px;
          transform-origin: 500px 1200px;
}

.icon-clients__client--left {
  -webkit-transform: rotate(0deg) scale(0.8) translateY(-200px);
          transform: rotate(0deg) scale(0.8) translateY(-200px);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.icon-clients__client--right {
  -webkit-transform: rotate(0deg) scale(0.8) translateY(-200px);
          transform: rotate(0deg) scale(0.8) translateY(-200px);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.icon-clients:hover {
  cursor: pointer;
}

.icon-clients:hover .icon-clients__client--left {
  -webkit-transform: rotate(-21deg) scale(0.8) translateY(-200px);
          transform: rotate(-21deg) scale(0.8) translateY(-200px);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.icon-clients:hover .icon-clients__client--right {
  -webkit-transform: rotate(21deg) scale(0.8) translateY(-200px);
          transform: rotate(21deg) scale(0.8) translateY(-200px);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.icon-clients:hover .icon-clients__fill {
  -webkit-animation: color-fill 0.5s ease-in 0s forwards;
          animation: color-fill 0.5s ease-in 0s forwards;
}

.icon-clients:hover .icon-clients__border,
.icon-clients:hover .icon-clients__stroke {
  -webkit-animation: color-stroke 0.5s ease-in 0s forwards;
          animation: color-stroke 0.5s ease-in 0s forwards;
}

@-webkit-keyframes color-stroke {
  to {
    stroke: #ffc000;
  }
}

@keyframes color-stroke {
  to {
    stroke: #ffc000;
  }
}

@-webkit-keyframes color-fill {
  to {
    fill: #ffc000;
  }
}

@keyframes color-fill {
  to {
    fill: #ffc000;
  }
}
