svg {
  width: 6.25rem; // 100/16
  height: 6.25rem; // 100/16
}

.icons-container {
  padding: 1rem;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  max-width: 21rem;
  margin-right: auto;
  margin-left: auto;

  li {
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
    justify-content: space-around;
  }
}
