// Colors
$brand-blue: #4ddbff !default;
$brand-yellow: #ffc000 !default;

// Base value of animation
$animation-duration: 1s;

// Timing
$hand-move-duration: $animation-duration;
$hand-move-delay: 0s;

$thumb-down-duration: $animation-duration;
$thumb-down-delay: $hand-move-delay;

$thumb-up-duration: $animation-duration;
$thumb-up-delay: $hand-move-delay;

$color-duration: $animation-duration / 4;
$color-delay: $animation-duration / 2;

// Animation
// -hand
$hand-move-animation: ease-in-out;

// -thumb
$thumb-up-animation: ease-in-out;
$thumb-down-animation: ease-in-out;

// -color
$color-animation: ease-in;

.icon-thumb {
  &__border {
    stroke: $brand-blue;
    fill: $white;
  }

  &__thumb-down {
    opacity: 0;
    fill: $brand-blue;
  }

  &:hover {
    cursor: pointer;

    & .icon-thumb__hand {
      animation: hand-move $hand-move-duration $hand-move-delay forwards;
    }

    & .icon-thumb__thumb-down {
      opacity: 1;
      animation:
        thumb-down $thumb-down-duration $thumb-down-animation $thumb-down-delay forwards,
        color-fill $color-duration $color-animation $color-delay forwards;
    }

    & .icon-thumb__thumb-up {
      animation:
        thumb-up $thumb-up-duration $thumb-up-animation $thumb-up-delay forwards,
        color-fill $color-duration $color-animation $color-delay forwards;
    }

    & .icon-thumb__fill {
      animation: color-fill $color-duration $color-animation $color-delay forwards;
    }

    & .icon-thumb__border {
      animation: color-stroke $color-duration $color-animation $color-delay forwards;
    }
  }
}

@keyframes hand-move {
  from,
  to {
    transform: translateY(0);
  }

  50% {
    transform: translateY(70px);
  }

  75% {
    transform: translateY(-40px);
  }
}

@keyframes thumb-up {
  from,
  60% {
    opacity: 0;
  }

  70%,
  to {
    opacity: 1;
  }
}

@keyframes thumb-down {
  from,
  60% {
    opacity: 1;
  }

  70%,
  to {
    opacity: 0;
  }
}

@keyframes color-stroke {
  to {
    stroke: $brand-yellow;
  }
}

@keyframes color-fill {
  to {
    fill: $brand-yellow;
  }
}
