// Colors
$brand-blue: #4ddbff !default;
$brand-yellow: #ffc000 !default;

// Base value of animation
$animation-duration: 3s;

$color-duration: $animation-duration / 10;
$color-delay: $animation-duration / 3;

$hand-on-duration: $animation-duration * 0.7;
$hand-on-delay: 0s;

$necktie-duration: $hand-on-duration / 2;
$necktie-delay: $hand-on-duration / 4;

// Animations
$necktie-animation: ease;
$hand-on-animation: cubic-bezier(.41, 0, .33, .99);
// -color
$color-animation: ease-in;

.icon-leadership {
  &__border {
    stroke: $brand-blue;
    fill: $white;
  }

  &__fill {
    fill: $brand-blue;
  }

  &__stroke {
    stroke: $brand-blue;
  }

  &__hand {
    transform-origin: 500px 1000px;
    opacity: 0;
  }

  &:hover {
    cursor: pointer;

    & .icon-leadership__necktie {
      animation:
        necktie-move--v3 $necktie-duration $necktie-animation $necktie-delay forwards,
        color-stroke $color-duration $color-animation $color-delay forwards;
    }

    & .icon-leadership__hand {
      animation: hand-in-out $hand-on-duration $hand-on-animation $hand-on-delay forwards;

      &--border {
        fill: $brand-blue;
        stroke: $brand-blue;
        animation:
          color-stroke $color-duration $color-animation $color-delay forwards,
          color-fill $color-duration $color-animation $color-delay forwards;
      }

      &--fill {
        fill: $white;
      }
    }

    & .icon-leadership__hair,
    & .icon-leadership__smile {
      animation: color-fill $color-duration $color-animation $color-delay forwards;
    }

    & .icon-leadership__fill {
      animation: color-fill $color-duration $color-animation $color-delay forwards;
    }

    & .icon-leadership__border,
    & .icon-leadership__stroke {
      animation: color-stroke $color-duration $color-animation $color-delay forwards;
    }
  }
}

@keyframes hand-in-out {
  from,
  to {
    transform: scale(1.2) rotate(30deg) translate(100px, 400px);
    opacity: 0;
  }

  35%,
  75% {
    opacity: 1;
    transform: scale(1.2) rotate(30deg) translate(100px, 100px);
  }

  50% {
    transform: rotate(20deg) translate(40px, -200px);
    transform: scale(1.25) rotate(30deg) translate(100px, 160px);
    opacity: 1;
  }
}

@keyframes necktie-move--v3 {
  from,
  to {
    transform: translateX(0);
  }

  35%,
  75% {
    transform: translateX(15px);
  }

  50% {
    transform: translateX(-15px);
  }
}

@keyframes color-stroke {
  to {
    stroke: $brand-yellow;
  }
}

@keyframes color-fill {
  to {
    fill: $brand-yellow;
  }
}
