// Colors
$brand-blue: #4ddbff !default;
$brand-yellow: #ffc000 !default;

// Base value of animation
$animation-duration: 3s;

$color-duration: $animation-duration / 10;
$color-delay: $animation-duration / 3;

$hand-on-duration: $animation-duration * 0.7;
$hand-on-delay: 0s;

$necktie-duration: $hand-on-duration / 2;
$necktie-delay: $hand-on-duration / 3;

// Animations
$necktie-animation: ease;
$hand-on-animation: linear;
// -color
$color-animation: ease-in;

.icon-leadership--v2 {
  &__border {
    stroke: $brand-blue;
    fill: $white;
  }

  &__fill {
    fill: $brand-blue;
  }

  &__stroke {
    stroke: $brand-blue;
  }

  &__hand {
    transform-origin: 500px 1000px;
    opacity: 0;
  }

  &:hover {
    cursor: pointer;

    & .icon-leadership--v2__necktie {
      animation:
        necktie-move $necktie-duration $necktie-animation $necktie-delay forwards,
        color-stroke $color-duration $color-animation $color-delay forwards;
    }

    & .icon-leadership--v2__hand {
      animation: hand-move-v2 $hand-on-duration $hand-on-animation $hand-on-delay forwards;

      &--border {
        fill: $brand-blue;
        stroke: $brand-blue;
        animation:
          color-stroke $color-duration $color-animation $color-delay forwards,
          color-fill $color-duration $color-animation $color-delay forwards;
      }

      &--fill {
        fill: $white;
      }
    }

    & .icon-leadership--v2__hair,
    & .icon-leadership--v2__smile {
      animation: color-fill $color-duration $color-animation $color-delay forwards;
    }

    & .icon-leadership--v2__fill {
      animation: color-fill $color-duration $color-animation $color-delay forwards;
    }

    & .icon-leadership--v2__border,
    & .icon-leadership--v2__stroke {
      animation: color-stroke $color-duration $color-animation $color-delay forwards;
    }
  }
}

@keyframes hand-move-v2 {
  from,
  to {
    transform: scale(1.2) rotate(50deg) translate(10px, 400px);
    opacity: 0;
  }

  35%,
  75% {
    opacity: 1;
    transform: scale(1.2) rotate(50deg) translate(10px, 160px);
  }

  50% {
    transform: rotate(20deg) translate(40px, -200px);
    transform: scale(1.2) rotate(50deg) translate(10px, 220px);
    opacity: 1;
  }
}

@keyframes necktie-move {
  from,
  to {
    //transform: scale(1.2) rotate(50deg) translate(10px, 400px);
    transform: translateX(0);
    //opacity: 0;
  }

  35%,
  75% {
    transform: translateX(15px);
    //opacity: 1;
    //transform: scale(1.2) rotate(50deg) translate(10px, 160px);
  }

  50% {
    transform: translateX(-15px);
    //transform: rotate(20deg) translate(40px, -200px);
    //transform: scale(1.2) rotate(50deg) translate(10px, 220px);
    //opacity: 1;
  }
}

@keyframes color-stroke {
  to {
    stroke: $brand-yellow;
  }
}

@keyframes color-fill {
  to {
    fill: $brand-yellow;
  }
}
