// Colors
$brand-blue: #4ddbff !default;
$brand-yellow: #ffc000 !default;
$white: #fff !default;

// Timing
$cover-duration: 1.2s;
$letter-duration: 1s;
$letter-delay: $cover-duration / 3;
$color-duration: $cover-duration / 5;
$sign-duration: $cover-duration / 2;
$sign-delay: $cover-duration;

// Animations
$cover-animation: linear;
$letter-animation: ease-in;
$color-animation: $letter-animation;
$sign-animation: $letter-animation;

.icon-contact {
  &__envelop {
    fill: $white;
  }

  &__cover-left {
    stroke: $brand-blue;
    transform-origin: 108px;
    transform: skewY(35deg);
  }

  &__cover-right {
    stroke: $brand-blue;
    transform-origin: 348px;
    transform: skewY(-35deg);
  }

  &__letter {
    visibility: hidden;
  }

  &__sign {
    stroke: $brand-blue;
    stroke-dasharray: 120 100;
    visibility: visible;
  }

  &__border,
  &__envelop {
    stroke: $brand-blue;
  }

  &:hover {
    cursor: pointer;

    & .icon-contact__cover-left {
      animation: cover-left $cover-duration $cover-animation forwards, color-stroke $color-duration $color-animation $cover-duration forwards;
    }

    & .icon-contact__cover-right {
      animation: cover-right $cover-duration $cover-animation forwards, color-stroke $color-duration $color-animation $cover-duration forwards;
    }

    & .icon-contact__letter {
      animation: letter $letter-duration $letter-animation forwards;
      animation-delay: $letter-delay;
    }

    & .icon-contact__sign {
      visibility: hidden;
      stroke-dasharray: 0 100;
      animation: sign $sign-duration $sign-animation $sign-delay forwards, color-stroke $color-duration $color-animation $cover-duration forwards;

      &--delay {
        animation: sign $sign-duration $sign-animation #{$sign-delay * 1.3} forwards, color-stroke $color-duration $color-animation $cover-duration forwards;
      }
    }

    & .icon-contact__envelop {
      animation: color-stroke $color-duration $color-animation $cover-duration forwards;
    }

    & .icon-contact__border {
      animation: color-stroke $color-duration $color-animation $cover-duration forwards;
    }
  }
}

@keyframes cover-left {
  from,
  to {
    transform: skewY(35deg);
  }

  25%,
  75% {
    transform: skewY(0deg);
  }

  40%,
  50%,
  60% {
    transform: skewY(-35deg);
  }
}

@keyframes cover-right {
  from,
  to {
    transform: skewY(-35deg);
  }

  25%,
  75% {
    transform: skewY(0deg);
  }

  40%,
  50%,
  60% {
    transform: skewY(35deg);
  }
}

@keyframes letter {
  0% {
    visibility: visible;
    opacity: 0;
  }

  20% {
    visibility: visible;
    opacity: 1;
  }

  60% {
    transform: translateY(140px);
    opacity: 0.5;
  }

  90% {
    transform: translateY(140px);
  }

  95% {
    opacity: 0;
    visibility: hidden;
  }

  100% {
    transform: translateY(140px);
  }
}

@keyframes letter-opacity {
  from,
  to {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
}

@keyframes sign {
  20% {
    visibility: visible;
  }

  to {
    stroke-dasharray: 120 100;
    visibility: visible;
  }
}

@keyframes color-stroke {
  0% {
    stroke: $brand-blue;
  }

  100% {
    stroke: $brand-yellow;
  }
}
